<!DOCTYPE html>
<html>
<head>
  <title>Create a Puppy</title>
</head>
<body>
  <form method="POST" action="/">
    Name: <input type="text" id="name" name="name">
    Breed: <input type="text" id="breed" name="breed">
    Age: <input type="text" id="age" name="age">
    <button type="submit" id="submit">submit</button>
  </form>
</body>
</html>
